@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: hsl(275, 100%, 97%);
    font-family: Work Sans, sans-serif;

    /* background for moblie */
    background-image: url(./assets/images/background-pattern-mobile.svg);
    background-size: 100%; /* Stretch to fit */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center top; /* bottom align the image */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center main horizontally on the screen */
    min-height: 98vh; /* use min height to make sure JS can expand screen when faq are all opended*/
    max-width: 350px;
}

.container {
    /*decorations*/
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    min-height: auto; /* Allow it to grow */
}

/*FAQ styling for same row*/
.container .FAQ {
    display: flex;
    align-items: center;
    gap: 20px;
    color: hsl(292, 42%, 14%);
}

/*image styling for star icon*/
.container .FAQ img {
    width: 30px;
    height: 30px;
}

.container .FAQ h1 {
    font-size: 32px;
    margin: 10px 0px 10px 0; /* top, right, bottom, left */
}

/* Expand-collapse styling */
.Expand-collapse {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.block1,
.block2,
.block3 {
    border-bottom: 1px solid hsl(275, 100%, 97%);
}
/* make the question and expanding icon on same line */
.Expand-collapse .block1 .question, 
.Expand-collapse .block2 .question,
.Expand-collapse .block3 .question,
.Expand-collapse .block4 .question  {
    display: flex;
    justify-content: space-between;
    align-items: left;
    gap: 30px;
    color: hsl(292, 42%, 14%);
}

/* change styling for p tags inside blocks */
.Expand-collapse .block1 .content p,
.Expand-collapse .block2 .content p,
.Expand-collapse .block3 .content p,
.Expand-collapse .block4 .content p {
    color: hsl(292, 16%, 49%);
    font-size: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

/* image styling for plus icon*/
.Expand-collapse img {
    width: 35px;
    height: 35px;
}

/* button styling - hide it */
.Expand-collapse button {
    border: none;
    background-color: inherit; /* inherit the parent's background color */
    cursor: pointer;
}

/* Apply hover effect to the img */
.Expand-collapse button:hover img {
    filter: saturate(1.3);
}


/* content class, this will interact with the button (via JS as well)*/
.content {
    max-height: 0; /* initially hidden */
    overflow: hidden; /* hide overflowing content */
    transition: max-height 0.2s ease-out; /* smooth transition */
}

/* attribution class fix to the bottom of the page */
.attribution {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* media queries, change at 600px */
@media screen and (min-width: 600px) {
    /* background for desktop */
    body {
        background-image: url(./assets/images/background-pattern-desktop.svg);
        background-size: 100%; /* Stretch to fit */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-position: center top; /* bottom align the image */
    }
    
    main {
        max-width: 520px; /* change to 520px */
    }
    /*image styling for star icon*/
    .container .FAQ img {
        width: 35px;
        height: 35px;
    }

    .container .FAQ h1 {
        font-size: 46px;
        margin: 20px 0px 20px 0; /* top, right, bottom, left */
    }

    /* change styling for p tags inside blocks */
    .Expand-collapse .block1 .content p,
    .Expand-collapse .block2 .content p,
    .Expand-collapse .block3 .content p,
    .Expand-collapse .block4 .content p {
        color: hsl(292, 16%, 49%);
        font-size: 15px;
        padding-right: 15px;
        margin-top: 4px;
        margin-bottom: 20px;
    }
}