@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); /* google font */

/* reset margin and padding */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    /* center the header */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    margin: 70px auto 15px; /* top, left and right auto, bottom */
    text-align: center; /* center the text */
}

header h1 {
    font-size: 30px;
    font-weight: normal;
    color: hsl(234, 12%, 34%);
    margin: 0px;
}

header h1 span {
    font-weight: bold;
    color: black;
}

header p {
    font-size: 15px;
    color: hsl(229, 6%, 66%);
}

/* start styling each of the four cards */
main {
    position: relative;
    max-width: 1100px; /* Fixed width to prevent resizing, use max-width for responsive */
    margin: 0 auto; /* Center align main */
}

main .card1,
main .card2,
main .card3,
main .card4 {
    width: 320px;
    height: 220px;
    margin-bottom: 20px;
    padding: 5px 25px 25px 25px; /* top, right, bottom, left */
    box-sizing: border-box; /* include padding and border in width and height */
    box-shadow: 5px 0 8px rgba(0, 0, 0, 0.05), /* right shadow, 5px is the distance, 0 is the blur, 8px is the spread, 0.05 is the opacity */
                0 5px 8px rgba(0, 0, 0, 0.05), /* bottom shadow */
                -5px 0 8px rgba(0, 0, 0, 0.05); /* left shadow */
}

/* adjust text size and header size in each card */
main .card1 h2,
main .card2 h2,
main .card3 h2,
main .card4 h2 {
    font-size: 18px;
}

main .card1 p,
main .card2 p,
main .card3 p,
main .card4 p {
    font-size: 12px;
    color: hsl(229, 6%, 66%);
}

/* arrange each card in a plus shape, using CSS positioning of absolute */
main .card1 { /* supervisor card */
    position: absolute;
    top: 125px;
    left: 40px;
    border-top: 4px solid hsl(180, 62%, 55%);
    border-radius: 5px 5px 0 0; /* top left, top right, bottom right, bottom left */
}

main .card1 img,
main .card2 img,
main .card3 img,
main .card4 img {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

main .card2 { /* team builder card */
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%); /* center the card */
    border-top: 4px solid hsl(0, 78%, 62%);
    border-radius: 5px 5px 0 0; /* top left, top right, bottom right, bottom left */
}

main .card3 { /* karma card */
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%); /* center the card */
    border-top: 4px solid hsl(34, 97%, 64%);
    border-radius: 5px 5px 0 0; /* top left, top right, bottom right, bottom left */
}

main .card4 { /* calculator card */
    position: absolute;
    top: 125px;
    right: 40px;
    border-top: 4px solid hsl(212, 86%, 64%);
    border-radius: 5px 5px 0 0; /* top left, top right, bottom right, bottom left */
}

/* footer at the bottom of the page */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* media queries for responsive design */
@media screen and (max-width: 1100px) {
    main {
        position: relative;
        max-width: 750px; /* Fixed width to prevent resizing */
        height: 750px;
        margin: 0 auto; /* Center align main */
    }

    /* adjust card position */
    main .card1 { /* supervisor card */
        position: absolute;
        top: 240px;
        left: 40px;
        border-top: 4px solid hsl(180, 62%, 55%);
        border-radius: 5px 5px 0 0; /* top left, top right, bottom right, bottom left */
    }
    
    main .card2 { /* team builder card */
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%); /* center the card */
        border-top: 4px solid hsl(0, 78%, 62%);
        border-radius: 5px 5px 0 0; /* top left, top right, bottom right, bottom left */
    }
    
    main .card3 { /* karma card */
        position: absolute;
        top: 480px;
        left: 50%;
        transform: translateX(-50%); /* center the card */
        border-top: 4px solid hsl(34, 97%, 64%);
        border-radius: 5px 5px 0 0; /* top left, top right, bottom right, bottom left */
    }
    
    main .card4 { /* calculator card */
        position: absolute;
        top: 240px;
        right: 40px;
        border-top: 4px solid hsl(212, 86%, 64%);
        border-radius: 5px 5px 0 0; /* top left, top right, bottom right, bottom left */
    }
}

@media screen and (max-width: 750px) {
    /* header adjustment to responsive design */
    header {
        width: 80%;
        align-items: center;
    }

    header h1 {
        font-size: 22px;
    }

    /* main adjustment to responsive design */
    main {
        width: 100%; /* Full width of the viewport */
        margin: 0 auto; /* Center the container */
        height: 1000px;
    }

    /* adjust card position */
    main .card1 { /* supervisor card */
        position: static;
        margin: auto;
        align-self: auto;
        border-top: 4px solid hsl(180, 62%, 55%);
        border-radius: 5px 5px 0 0; /* top left, top right, bottom right, bottom left */
        margin-bottom: 30px;
    }
    
    main .card2 { /* team builder card */
        position: static;
        margin: auto;
        transform: translateX(0%); /* remove the translateX to center the card */
        margin-bottom: 30px;
    }
    
    main .card3 { /* karma card */
        position: static;
        margin: auto;
        transform: translateX(0%); /* remove the translateX to center the card */
        margin-bottom: 30px;
    }
    
    main .card4 { /* calculator card */
        position: static;
        margin: auto;
    }

    /* Reset image styles to align within the cards */
    main .card1 img,
    main .card2 img,
    main .card3 img,
    main .card4 img {
        position: static; /* Remove absolute positioning */
        margin: 20px 20px 0px 210px; /* top, right, bottom, left */
        display: block; /* Ensure the image is treated as a block element */
    }
}