@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

/* reset margin and padding and font */
body {
    /* Center the container and define layout */
    margin: 0 auto;
    padding: 30px;
    max-width: 440px; /* Fixed width for mobile, accounting for padding */

    /* Typography */
    font-family: 'League Spartan', sans-serif;

    /* Background styling */
    background: 
        url(images/bg-pattern-top-mobile.svg) top/100% 15% no-repeat, /* top/100% is width meaning 100%, 15% is height meaning 15% of the viewport */
        url(images/bg-pattern-bottom-mobile.svg) bottom/100% 15% no-repeat;
}


header {
    text-align: center;
}

header h1 {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    color: hsl(300, 43%, 22%);
}

header p {
    line-height: 1.4em;
    color: hsl(303, 10%, 53%);
}

/* rating section using flexbox*/
header .ratings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

header .rating1,
header .rating2,
header .rating3 {
    background-color: hsl(300, 24%, 96%);
    padding: 15px;
    border-radius: 10px;
}

header .rating1 p,
header .rating2 p,
header .rating3 p {
    margin: 5px 0 0 0; /* shorthand for top, right, bottom, left */
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

/* review section using flexbox*/
main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

main .Colton-review,
main .Irene-review,
main .Anne-review {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 25px;
    color: white;
}

/* adjust text size and header size in each card */
main .align {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    flex-direction: row-reverse;
}

/* adjust text size and header size in each card */
main .Colton-review img,
main .Irene-review img,
main .Anne-review img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* font weight for names */
main .Colton-review .align p,
main .Irene-review .align p,
main .Anne-review .align p {
    font-weight: 700;
}

/* font weight and color for verified buyer */
main .Colton-review span,
main .Irene-review span,
main .Anne-review span {
    color: hsl(333, 80%, 67%);
    font-weight: normal;
}

/* adjust text size and line height in each card */
main .Colton-review p,
main .Irene-review p,
main .Anne-review p {
    line-height: 1.3em;
    margin: 10px 0 10px 0; /* top, right, bottom, left */
}

/* footer at the bottom of the page */
.attribution {
    position: relative;
    margin-top: 20px;
}

@media screen and (min-width: 740px) {
    body {
        max-width: 1100px;
        background: 
            url(images/bg-pattern-top-desktop.svg) top left/55% no-repeat, 
            url(images/bg-pattern-bottom-desktop.svg) bottom right/55% no-repeat;
        background-attachment: fixed;
    }
    header {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }

    header h1 {
        margin: 20px 0 20px 0; /* top, right, bottom, left, reset margin for desktop */
        font-size: 50px;
    }

    header .intro {
        width: 400px;
        text-align: left;
    }

    /* change to flex for header ratings class */
    header .ratings {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
        width: 550px;
    }

    /* make stars and text inline */
    header .ratings .rating1,
    header .ratings .rating2,
    header .ratings .rating3 {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 30px;
    }

    /* perform a offset for each rating class using margins */
    header .ratings .rating1 {
        margin-left: 50px;
        margin-right: 100px;
    }

    header .ratings .rating2 {
        margin-left: 100px;
        margin-right: 50px;
    }

    header .ratings .rating3 {
        margin-left: 150px;
    }

    /* Change to flex for row of reviews */
    main {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 80px;
    }

    /* perform a offset for each review class using transform */
    main .Colton-review {
        transform: translateY(-20px);
    }

    main .Anne-review {
        transform: translateY(20px);
    }

    /* footer at the bottom of the page */
    .attribution {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
    }
}
