/* CSS selector, start with dot to target a class for selective apply */
/* target p tag with class of error */
/* p.error{ 
    color: blue;
}
p.success{
    color: green
}
p.success.feedback{
    border: 1px dashed green;
    color: rgb(219, 167, 23)
} */
/* For ID in HTML, to link in CSS use #, will change div class as required */
/* #content{
    background-color: rgb(211, 211, 211);
    padding: 10px;
} */
/* Nested selector, select only error class inside div*/
/* div .error{
    color: red;
} */

/* every achor tag with href, href*= -> include the text inside */
/* a[href="https://www.google.com"]{
    background-color: green;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
} */
/*include the text apple */
/* a[href*="apple"] {
    color: red;
    background-color: yellow;
    border: 2px solid blue;
} */
/* end with .html */
/* a[href$=".html"]{
    color: pink;
} */

/* Cascade concept in CSS -> Children inside parent inheritence style, so everything inside DIV here will be same color but not for everything like margin or border*/
div{
    color: coral;
    border: 1px solid grey;
    margin: 40px;
    font-weight: bold;
}
/* if you want to inherit the margin or boder */
p {
    margin: inherit;
    border: inherit;
    color: crimson;
}